html {
  height: 100%;
  width: 100%;
}


body {
  background-color: #ffefd6;
}
h1 {
  color: Black;
}

.topnav {
  background-color: #c5ab87;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #ffe3bd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffe3bd;
  color: #c5ab87;
}