html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #ffefd6;
  font-family: monospace;
  text-align: center;
}

h1 {
  color: Black;
}

.footer {
  background-color: #c5ab87;
  margin: auto;
  padding: 15px;
}

.topnav {
  background-color: #c5ab87;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.topnav a {
  float: left;
  color: #ffe3bd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: normal;
}

.topnav a:hover {
  background-color: #ffe3bd;
  color: #c5ab87;
  font-weight: bold;
}

.topnav a:active {
  background-color: #ad9676;
  color: #ffe3bd;
}




.box {
  background-color: #ffe3bd;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #c5ab87;
}


.fact-box {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.photo-box {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}

.aqi-box {
  grid-column: 3 / span 1;
  grid-row: 3 / span 2;
}

.clock-box {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.trivia-box {
  grid-column: 1 / span 1;
  grid-row: 3 / span 2;
}

.weather-box {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
}




button {

  background-color: #ffe3bd;
  color: #000000;
  border-radius: 8px;
  border: 2px solid #c5ab87;
  cursor: pointer;
  font-family: monospace, monaco;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

button:hover {

  background-color: #e9c9a4;
  border: 2px solid #c5ab87;
  
}

button:active {

  background-color: #ffefd6;
  border: 2px solid #c5ab87;
  
}

button:disabled {
  opacity: 0.6;
}




img {
  max-height: 300px;
  max-width: 95%;
  padding-bottom: 15px;
  display: block;
  margin: auto;
}





.grid-container {
  display: inline-grid;
  gap: 10px;
  grid-template-columns: 1;
  grid-template-rows: 220 px 220px 220px 220px;
  width: 90%;
}

.weather-grid {
  display: flex;
  justify-content: space-around;
}

.weathericon1 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.weathertitle1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}



.weathertemp1 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}



.faded {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 2/3;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
  margin-top: 20px;
}

.big {
  font-weight: normal;
}

.info {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #fff9f0;
  border-radius: 4px;
  box-sizing: border-box;
  background-color:#fff9f0;
  font-family: monospace;
}

textarea {
  width: 95%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #fff9f0;
  border-radius: 4px;
  background-color: #fff9f0;
  resize: none;
  margin: 8px 0;
  font-family:monospace;
}

.block {
  display: block;
  margin: auto;
}

.submit {
  display: block;
  margin: auto;
  padding: 10px, 10px, 10px, 10px;
}

.coolcat {

  margin: 10px 10px 10px 10px;
}




.correct {
  background-color:#88cd88;
}

.correct:hover {
  background-color:#bbe2bb;
}

.correct:disabled {
  background-color:#bbe2bb;
}

.wrong {
  background-color: #d99696;
}

.wrong:hover{
  background-color: #dfa9a9;
}

wrong:disabled{
  background-color: #dfa9a9;
}